.Corps{
  /*background-image: url(http://www.wallpapers-cinema.com/wallpapers/large/9c/16100.jpg);*/
  
  background-color: yellow;
  opacity: 0.8;
  text-align: right;
  
}

h2{
  text-align: center;

}
button{
  text-align: center;
  display: inline;
  margin: 2px;
  background:url(http://css.mammouthland.net/images/boutonnoir.png) no-repeat;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: yellow;
  
  padding: 2px; 
  

}
a hover{
  background:url(http://css.mammouthland.net/images/boutonnoir2.png) no-repeat;
  

}